<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Broadcasts</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body class="p-2 mb-2 bg-dark text-white">
  <h1>Broadcast List</h1>
    <table id="broadcasts" class="table text-white">
        <thead class="bg-primary">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Duration, min</th>
            <th>Cost, €</th>
            <th>Narrator</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${broadcasts}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.name}"></td>
            <td th:text="${b.duration}"></td>
            <td th:text="${b.cost}"></td>
            <td th:text="${b.narrator.name}"></td>
            <td><a th:href="@{/part_broadcast(id=${b.id})}">edit broadcast</a></td>
        </tr>
        </tbody>
    </table>
  <form action="add_broadcast" method="post">
      <label for="broadcast_name">Name:</label>
      <input type="text" name="name" id="broadcast_name">
      <label for="narrator_name">Narrator:</label>
      <select name="narrator" id="narrator_name">
          <option th:each="narrator:${narrators}" th:value="${narrator}" th:utext="${narrator.name}"></option>
      </select>
      <input type="submit" value="Add" class="btn btn-primary">
  </form>

  <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>